
Project 1/Problem 1/Latex/main.aux
Project 1/Problem 1/Latex/main.lof
Project 1/Problem 1/Latex/main.log
Project 1/Problem 1/Latex/main.lot
Project 1/Problem 1/Latex/main.maf
Project 1/Problem 1/Latex/main.mtc
Project 1/Problem 1/Latex/main.mtc0
Project 1/Problem 1/Latex/main.out
Project 1/Problem 1/Latex/main.pdf
Project 1/Problem 1/Latex/main.synctex.gz
Project 1/Problem 1/Latex/main.tex.bak
Project 1/Problem 1/Latex/main.toc
